@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
    display: block;
}
a{
  text-decoration: none !important;
}
.title_of_page{
  text-align: left;
  margin-inline: 5%;
  font-size: 250%;
  border-bottom: 1px solid #352C1C;
  opacity: 0.7;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
  /* padding: 4rem; */
  overflow-x: hidden;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header .container{
  background: #F8F5F2;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* position: fixed; */
  width: 100%;
  padding: 1% 4%;
  justify-content: unset;
  z-index: 3;
}

.nav_list {
  justify-content: space-around;
  width: 35vw;
  /* border: 2px solid; */
}
.nav_icons{
  position: absolute;
  right: 55px;
}
.nav_icons img{
  display: unset;
}
.logo img {
  height: 50px;
}
.nav_item ,.nav_icons {
  list-style: none;
}
.nav_link {
  /* display: inline-block; */
  color: #9b8055;
  /* font-weight: 400; */
  /* margin-left: 10px; */
  /* padding: 8px 15px; */
  /* border-radius: 40px; */
  text-decoration: none;
}
.vector-1{
  padding-inline: 15px;
}
.nav_icons a {
  text-decoration: none;
  color: #9b8055;
}
.nav__toggle{
  display: none;
}

/* .vector-2 li a img, .vector-3 a img{
  height: 0%;
}
.vector-2 li a span, .vector-3 a span{
  margin-left: 10px;
} */

/* login and signup form popup on vector-2 img */

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: beige;
  min-width: 158px;
  z-index: 1;
}

.dropdown-menu a{
  text-decoration: none;
  color: peru;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.nav_dropdown:hover .dropdown-menu{
  display: block;
  background-color: #fff;
}
.dropdown-menu a:hover{
  background-color: chocolate;
  color: beige;
}
.popup, .popup2{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  opacity: 0;
  display: none;
  transform: translate(-50%, -50%) scale(1.25);
  width: 35%;
  min-width: 280px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 500px 500px #9b805570;
  border-radius: 5px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;

}
.popup.active, .popup2.active2{
  top: 50%;
  opacity: 1;
  display: block;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
  position: fixed;
}
.popup .close-btn, .popup2 .close-btn2{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: darkgray;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2, .popup2 .form h2{
  text-align: center;
  color: #9b8055;
  margin: 10px 0 20px;
  font-size: 25px;
}
.popup .form .form-element, .popup2 .form .form-element{
  margin: 15px 0;
}
.popup .form .form-element label, .popup2 .form .form-element label{
  font-size: 14px;
  color: black;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"],
.popup2 .form .form-element input[type="text"],
.popup2 .form .form-element input[type="password"]{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"],
.popup2 .form .form-element input[type="checkbox"]{
  margin-right: 5px;
}
.popup .form .form-element input[type="text"]:focus,
.popup .form .form-element input[type="password"]:focus,
.popup .form .form-element input[type="checkbox"]:focus,
.popup2 .form .form-element input[type="text"]:focus,
.popup2 .form .form-element input[type="password"]:focus,
.popup2 .form .form-element input[type="checkbox"]:focus{
  border: 2px solid #9b8055;
  background: beige;
}
.popup .form .form-element button,
.popup2 .form .form-element button{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #9b8055;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.popup .form .form-element button:hover,
.popup2 .form .form-element button:hover{
  background: #9b8055dc;
}
.popup .form .form-element a,
.popup2 .form .form-element a{
  display: block;
  text-align: right;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  color: #9b8055;
}
/* .popup2 .form-element span a{
  display: inline-flex;
} */

@media only screen and (max-width: 768px) {
  header .container{  
    height: 9vh;
  }

  .login-span, .vector-3 a span{
    display: none;
  }
  /* .vector-2:hover .dropdown-menu{
    display: block;
    background-color: #fff;
  } */
  .nav__toggle {
    display: block;
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* background: url(/images/bars-solid.svg); */
    /* background-size: 25px;
    background-position: center;
    background-repeat: no-repeat; */
    z-index: 3;
    background: none;
    color: inherit;
    border: none;
  }
  .nav__toggle.active {
    position: fixed;
    right: 20px;
    /* background: url(/images/closenav.svg); */
    /* background-size: 20px;
    background-position: center;
    background-repeat: no-repeat; */
  }
  .nav_list {
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
    width: 50%!important;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background: #9b8055;
    z-index: -1;
    /* color: #fff; */
    padding: 1em;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    opacity: 0;
  }
  .nav_list.active {
    opacity: 1;
    top: 9vh;
    transition: all 400ms ease;
  }
  .nav_item {
    margin-block:1em
   
  }
  .nav_link {
    /* font-size: 1.2em; */
    /* margin: 5px 0; */
    color: #fff;
  }
  .nav_link:hover{
    /* background-color: #9b805590; */
    /* color: #fff; */
  }
  /* 
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    background: #9b8055;
    height: 3px;
    margin: 0 auto;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
  }
  .hamburger::before {
    transform: translateY(-6px);
  }
  .hamburger::after {
    transform: translateY(3px);
  }
*/
  .bar1, .bar2, .bar3 {
    display: block;
    background: #9b8055;
    height: 3px;
    margin: 3px auto;
    transition: 0.4s;
  }
  .bar1.change {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  .bar2.change {
    opacity: 0;
  }
  .bar3.change{
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
  }

}

/* Carousel */
/* SLIDER MAIN CONTAINER */
.fg-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* SLIDER ITEMS */
.slider-item {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.slider-item.active {
  opacity: 1;
  visibility: visible;
}

/* SLIDER TEXT CONTENT */
.slider-item .fg-content {
  position: absolute;
  left: 50%;
  top: 48%;
  z-index: 9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #00000082;
  padding: 1em;
  opacity: .4;
  border-radius: 10px;
}
.slider-item.active .fg-content {
  top: 50%;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* ARROW CONTAINER, ARROWS */
.arrow-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 8;
}

/* SLIDER ARROWS */
.arrow-container > div {
  width: 40px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.arrow-container>div:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.arrow-container i {
  font-size: 23px;
  color: #2e2e2e;
}

.right-arrow {
  right: -40px;
}

.left-arrow {
  left: -40px;
}

.fg-slider:hover .arrow-container>div {
  opacity: 1;
  visibility: visible;
}

.fg-slider:hover .left-arrow {
  left: 0;
}

.fg-slider:hover .right-arrow {
  right: 0;
}

/* BULLETS */
.bullet-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 8;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bullet-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13px;
  height: 13px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100%;
  margin: 0 3px;
  opacity: .5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.bullet-container>div i {
  font-size: 7px;
  color: grey;
}

.bullet-container>div.active {
  background-color: #fff;
  opacity: 1;
}

.bullet-container>div:hover {
  opacity: .7;
  background-color: #fff;
}

/* HIDDEN ELEMENTS */
.fg-hidden {
  opacity: 0;
  visibility: hidden;
}

/* ANIMATION EFFECTS */
/* scale effet */
.fg-slider.scale .slider-item {
  -webkit-transform: scale(.9);
          transform: scale(.9);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.fg-slider.scale .slider-item.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* slide effect slide horizontal */
.fg-slider.slide-horizontal .slider-item {
  left: -160px;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.fg-slider.slide-horizontal .slider-item.active {
  left: 0;
}

/* slide effect vertical */
.fg-slider.slide-vertical .slider-item {
  top: -160px;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.fg-slider.slide-vertical .slider-item.active {
  top: 0;
}

/* slide effect slide top */
.fg-slider.slide-top .slider-item {
  top: -160px;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.fg-slider.slide-top .slider-item.active {
  top: 0;
}

/* slide effect left */
.fg-slider.slide .slider-item {
  left: -160px;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.fg-slider.slide .slider-item.active {
  left: 0;
}

/* SLIDER LOADING ANIMATION */
.sk-folding-cube {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 45%;
  -webkit-transform: rotateZ(45deg) translate(50%, 50%);
  transform: rotateZ(45deg)  translate(50%, 50%);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
}
.sk-folding-cube.active {
  opacity: 1;
  visibility: visible;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
  }
  25%,
  75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
  }
  90%,
  100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
  }
  25%,
  75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
  }
  90%,
  100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
  }
}
/* Carousel ends */

/* Manav cards */

.featured-products {
  padding-block: 5rem;
}
.featured-products .container {
  width: min(1200px, 80%);
  margin: 0 auto;
}
.featured-products .flex {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.featured-products .card {
  width: 15rem;
  cursor: pointer;
  padding: 1rem;
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* border: 1px solid #dedede; */
  border-radius: 10px;
}
.featured-products .card:hover {
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%), 0px 0px 20px rgb(0 0 0 / 20%);
}
.featured-products .bags {
  max-width: 20rem;
  display: flex;
  justify-content: center;
}
.featured-products .bags img {
  max-width: 70%;
  z-index: 2;
  transition: all 0.75s ease-out;
  /* filter: drop-shadow(30px 10px 4px #9b8055); */
  filter: drop-shadow(0 -2mm 2mm rgb(114, 92, 51));
}
.featured-products .info p {
  font-size: min(1.4rem, 7vw);
  transition: all 0.95s ease-out;
  text-align: center;
  color: #9b8055;
}
.featured-products .info h3 {
  font-size: 1rem;
  margin-block: 0.5em;
  color: #1b160e;
  font-weight: lighter;
  transition: all 0.75s ease-out;
  text-align: center;
  font-size: 1.4ch;
}
.featured-products .MRP {
  transition: all 0.75s ease-out;
  height: 100%;
  align-items: center;
}
.featured-products .MRP h2 {
  color: #1b160e;
  text-align: center;
  font-size: 1.7ch;
}
.featured-products .MRP h3 {
  text-align: center;
}
.featured-products .icon {
  transition: all 0.75s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-products .icon img {
  /* width: 30px; */
}
.featured-products .icon img:hover{
  /* border: 1.5px solid #fff2;
  border-radius: 50%; */
}
@media(min-width:800px){
  .featured-products .flex {
    flex-wrap: nowrap;
  }
}
@media (min-width: 800px){
  .featured-products .flex {
    flex-wrap: nowrap;
  }
.featured-products .flex {
    display: flex;
    justify-content: space-between;
    /* gap: 1em; */
    flex-wrap: wrap;
}
.featured-products .container {
    width: min(100em, 95%);
    margin: 0 auto;
}
}

/* Muskan about us */
.section-6 img{
  max-width: 100%;
}
.section-6 .grid-container{
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 1fr;
  /* grid-template-rows: 3fr 1fr 1.5fr; */
  grid-template-areas: 
  "side-img"
  "content"
  "lower-img";
  margin: 2em;
  grid-row-gap: 2em;
  
} 
.section-6 .side-img{
  grid-area: side-img;
  padding-inline: 15%;
  margin: 0;
}
.section-6 .content{
  grid-area: content;
}
.section-6 .content p{
  font-weight: 100;
  font-size: .8em;
}
.section-6 .lower-img{
  grid-area: lower-img;
}
@media screen and (min-width:750px){
  .section-6 .grid-container{
    height: 100vh;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 2fr 2.5fr ;
    grid-template-areas: 
    "side-img content"
    "side-img lower-img";
    /* grid-column-gap: 0; */
}
  .section-6 .side-img{
      grid-area: side-img;
  }
  .section-6 .content{
      grid-area: content;
  }
  .section-6 .lower-img{
      grid-area: lower-img;
      padding-top: 2em;
  }
  .section-6 .card{
      margin-left: 0em;
      margin-right: 3em;
  }
}

/* Aman footer */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  height: 100vh;
  background-image: linear-gradient(hsla(0,0%,97%,.9),#9B8055);
  }
  .footer h1{
      text-align: center;
  }
  
  .footer > * {
  flex:  1 100%;
  }
  
  .l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  }
  
  .footer h2 {
  font-weight: 750;
  font-size: 18.78px;
  color: #1a1913;
  }
  
  .footer ul {
  list-style: none;
  padding-left: 0;
  }
  
  .footer li {
  line-height: 2em;
  }
  
  .footer a {
  text-decoration: none;
  }
  
  .r-footer {
  display: flex;
  flex-flow: row wrap;
  }
  
  .r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
  }
  
  .footer .box a {
  color: #523c1a
  }
  
  .footer .h-box {
  column-count: 2;
  column-gap: 1.25em;
  }
  
  .b-footer {
  text-align: center;
  color: rgb(7, 5, 5);
  padding-top: 30px;
  }
  
  .l-footer p {
  margin: 0;
  padding-right: 15%;
  padding-left: 25%;
  font-size: 25px;
  color: rgb(64, 83, 19);
  }   
  
  @media screen and (min-width: 600px) {
  .r-footer > * {
  flex: 1;
  }
  
  .r-footer address{
      text-align: left;
      color: #523c1a;
  }
  .footer img{
      padding-top: 30px;
      padding-left: 30px;
  }
  .footer h1{
      text-align: left;
  }
  
  .l-footer {
  flex: 1 0px;
  }
  .l-footer p{
      padding-left: 0;
      color: rgb(64, 83, 19);
  }
  .r-footer li, .r-footer h2{
      padding-left: 20px;
  }
  .r-footer {
  flex: 2 0px;
  }
}