@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  /* font-family: "Poppins", sans-serif; */
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Petit Formal Script", cursive;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none !important;
}
.container {
  width: min(75em, 85%);
  margin: 0 auto;
  position: relative;
}
.section_title {
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
}
section {
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
  /* padding: 4rem; */
  overflow-x: hidden;
}
/* navbar */
header {
  background: #f8f5f2;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  /* padding-block: 1em; */
  min-height: 10vh;
  /* display: flex; */
}
/* changes */
/* CHECK IF IT IS DRY CODE */
nav {
  width: 100%;
}

.nav_icons {
  position: absolute;
  right: 55px;
  /* margin-inline: auto; */
  gap: 1em;
}
.svg-inline--fa {
  max-width: 30px;
  aspect-ratio: 1;
  width: 17px;
  
}

.icon span,
.mob-hide {
  display: none;
}

@media (min-width: 991px) {
  .nav_item {
    margin-left: 1em;
}
.nav_item {
    /* margin-block: 0.5em; */
    position: relative;
    display: inline-block;
}
.svg-inline--fa {
margin-right: .5em;

}
  .icon span,
  .mob-hide {
    display: inline-block;
  }
  /* DRY CODE */
}

/* CHANGE 2 */
/* COPIED FROM HEADER.HTML */
/* CHECK IF IT IS DRY */
.nav_item {
  margin-block: 0.5em;
  position: relative;
}
.nav_item:hover .dropdown-menu2 {
  top: 34px;
  opacity: 1;
  visibility: visible;
}
.dropdown-menu2,
.menu-right {
  position: absolute;
  background: #f8f5f2;
  width: 100%;
  /* top: 10vh; */
  margin-top: 15px;
  z-index: 2;

  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  list-style: none;
  width: 9rem;
}
.dropdown-menu2 li a {
  color: #9b8055;
  padding: 13%;
  justify-content: center;
}
.dropdown-menu2 li a:hover {
  background-color: #9b8055;
  color: #f8f5f2;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 34px;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .dropdown-menu2,
  .menu-right {
    z-index: -2;
  }
}

/* change 3 from header */

.dropdown-menu2,
.menu-right {
  position: absolute;
  background: beige;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  list-style: none;
  width: 9rem;
}
.dropdown-menu2 li a {
  color: peru;
  padding: 10%;
}
.dropdown-menu2 li a:hover {
  background-color: chocolate;
  color: beige;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 34px;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* COPIED FROM HEADER.HTML */

.nav_icons img {
  display: unset;
}
.logo {
  flex-basis: 10%;
}
.logo img {
  min-width: 5rem;
}
.nav_item,
.nav_icons {
  list-style: none;
}
.nav_link {
  /* display: inline-block; */
  color: #9b8055;
  /* font-weight: 400; */
  /* margin-left: 10px; */
  /* padding: 8px 15px; */
  /* border-radius: 40px; */
  text-decoration: none;
}

.nav_icons a {
  text-decoration: none;
  color: #9b8055;
}
.nav__toggle {
  display: none;
}

/* login and signup form popup on vector-2 img */

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: beige;
  min-width: 158px;
  z-index: 1;
  /* top: 50px; */
  left: 0;
  /* transition: all 0.3s ease; */
}

.dropdown-menu a {
  text-decoration: none;
  color: #9b8055;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.nav_dropdown:hover .dropdown-menu {
  display: block;
  background-color: #fff;
}
.dropdown-menu a:hover {
  background-color: #9b8055;
  color: beige;
}
.popup,
.popup2 {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  opacity: 0;
  display: none;
  transform: translate(-50%, -50%) scale(1.25);
  width: 35%;
  min-width: 280px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 500px 500px #9b805570;
  border-radius: 5px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}
.popup.active,
.popup2.active2 {
  top: 50%;
  opacity: 1;
  display: block;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
  position: fixed;
}
.popup .close-btn,
.popup2 .close-btn2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: darkgray;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2,
.popup2 .form h2 {
  text-align: center;
  color: #9b8055;
  margin: 10px 0 20px;
  font-size: 25px;
}
.popup .form .form-element,
.popup2 .form .form-element {
  margin: 15px 0;
}
.popup .form .form-element label,
.popup2 .form .form-element label {
  font-size: 14px;
  color: black;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"],
.popup2 .form .form-element input[type="text"],
.popup2 .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"],
.popup2 .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}
.popup .form .form-element input[type="text"]:focus,
.popup .form .form-element input[type="password"]:focus,
.popup .form .form-element input[type="checkbox"]:focus,
.popup2 .form .form-element input[type="text"]:focus,
.popup2 .form .form-element input[type="password"]:focus,
.popup2 .form .form-element input[type="checkbox"]:focus {
  border: 2px solid #9b8055;
  background: beige;
}
.popup .form .form-element button,
.popup2 .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #9b8055;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.popup .form .form-element button:hover,
.popup2 .form .form-element button:hover {
  background: #9b8055dc;
}
.popup .form .form-element a,
.popup2 .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  color: #9b8055;
}
/* .popup2 .form-element span a{
  display: inline-flex;
} */

@media only screen and (max-width: 990px) {
  .login-span,
  .vector-3 a span {
    display: none;
  }

  .nav__toggle {
    display: block;
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* background: url(/images/bars-solid.svg); */
    /* background-size: 25px;
    background-position: center;
    background-repeat: no-repeat; */
    z-index: 3;
    background: none;
    color: inherit;
    border: none;
  }
  .nav__toggle.active {
    position: fixed;
    right: 20px;
    /* background: url(/images/closenav.svg); */
    /* background-size: 20px;
    background-position: center;
    background-repeat: no-repeat; */
  }
  .nav_list {
    /* display: none; */
    position: absolute;
    top: -1000%;
    right: 0;
    width: 50% !important;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    background: #f8f5f2;
    z-index: -1;
    /* color: #fff; */
    padding: 1em;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    /* opacity: 0; */
    /* transition: 250ms ease-out; */
  }
  .nav_list.active {
    /* opacity: 1; */
    top: 10vh;
    transition: all 400ms ease;
    /* display: block; */
  }

  .nav_link {
    /* font-size: 1.2em; */
    /* margin: 5px 0; */
    /* color: #fff; */
  }
  .nav_link:hover {
    /* background-color: #9b805590; */
    /* color: #fff; */
  }

  .bar1,
  .bar2,
  .bar3 {
    display: block;
    background: #9b8055;
    height: 3px;
    margin: 3px auto;
    transition: 0.4s;
  }
  .bar1.change {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  .bar2.change {
    opacity: 0;
  }
  .bar3.change {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
  }
}

/* navbar ends*/

