<!-- <section class="featured-products"> -->
  <div class="product">
    <div class="product__box card">
      <div class="bags"><img class="product__image" src="{{ .image }}" alt=""></div>
        <div class="info">
          <h1 class="product__name title">{{ .name }}</h1>
          <h3 class="product__description">{{ .description }}</h3>
            <div class="product__price MRP">
              <h2>₹ {{ .price }}/-</h2>
              <h3><del>₹ {{ .oldprice }}/-</del></h3>
            </div>
            <div class="icon">
                <img src="images/manav/cart.png" alt="cart">
                <img src="images/manav/fav_icon.png" alt="cart">
            </div>
  
            <button
              class="snipcart-add-item buy-button"
              data-item-id="{{ .id }}"
              data-item-name="{{ .name }}"
              data-item-price="{{ .price }}"
              data-item-url="{{ .product_url }}"
              data-item-description="{{ .description }}">
              Buy now
            </button>
        </div>
    </div>
  </div>
<!-- </section> -->