<!-- <div class="product">
  <div class="product__box card">
    <div class="bags"><img class="product__image" src="/uploads/be_happy_carry_bag.png" alt=""></div>
      <div class="info">
        <h1 class="product__name title">Jute Bag</h1>
        <h3 class="product__description">A portable jute carry bag for shopping</h3>
          <div class="product__price MRP">
            <h4>₹ 499/-</h4>
            
          </div>
          <div class="icon">
              <a href="#" 
              class="snipcart-add-item" 
              data-item-id="Be_Happy_carry_bag" 
              data-item-name="Jute Bag" 
              data-item-price="499" 
              data-item-url="" 
              data-item-description="A portable jute carry bag for shopping">
                <img src="images/manav/cart.png" alt="cart">
              </a>
              <button 
              class="snipcart-add-item 
              buy-button 
              snipcart-checkout" 
              data-item-id="Be_Happy_carry_bag" 
              data-item-name="Jute Bag" 
              data-item-price="499" 
              data-item-url="" 
              data-item-description="A portable jute carry bag for shopping">
            Buy now
          </button>
          </div>

          
      </div>
  </div>
</div> -->

<!-- <section class="featured-products"> -->
  <div class="product">
    <div class="product__box card">
      <div class="bags"><img class="product__image" src="{{ .image }}" alt=""></div>
        <div class="info">
          <p class="product__name title">{{ .name }}</p>
          <h3 class="product__description">{{ .description }}</h3>
            <div class="product__price MRP">
              <h4>₹ {{ .product_price }}/-</h4>
              <!-- <h3><del>₹ {{ .product_del_price }}/-</del></h3> -->
            </div>
            <div class="icon">
                <a href="#" class="snipcart-add-item"               
                  data-item-id="{{ .id }}"
                  data-item-name="{{ .name }}"
                  data-item-price="{{ .product_price }}"
                  data-item-url="{{ .product_url }}"
                  data-item-description="{{ .description }}">
                  <!-- <img src="images/manav/cart.png" alt="cart"> -->
                </a>
            <!-- </div> -->
  
            <!-- <button
              class="snipcart-add-item buy-button snipcart-checkout"
              data-item-id="{{ .id }}"
              data-item-name="{{ .name }}"
              data-item-price="{{ .product_price }}"
              data-item-url="{{ .product_url }}"
              data-item-description="{{ .description }}">
              Buy now
            </button> -->
            </div>
        </div>
    </div>
  </div>
<!-- </section> -->
<style>
.featured-products {
  padding-block: 5rem;
}
.featured-products .flex {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.featured-products .container {
  /* width: min(1200px, 80%); */
  width: min(1200px, 100%);
  margin: 0 auto;
}
.featured-products .card {
  cursor: pointer;
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* border: 1px solid #dedede; */
  border-radius: 10px;
  /* width: 15rem; */
  /* padding: 1rem; */
  width: 7rem;
  padding: .5rem;
}
.featured-products .card:hover {
  /* box-shadow: 0 10px 10px rgb(0 0 0 / 20%), 0px 0px 20px rgb(0 0 0 / 20%); */
  box-shadow: 0 10px 5px rgb(0 0 0 / 20%), 0px 0px 20px rgb(0 0 0 / 20%);
}
.featured-products .info h3 {
  font-size: 1rem;
  margin-block: 0.5em;
  color: #1b160e;
  font-weight: lighter;
  transition: all 0.75s ease-out;
  text-align: center;
  /* font-size: 1.4ch; */
  font-size: 1.2ch;
}
.featured-products .info p {
  transition: all 0.95s ease-out;
  text-align: center;
  color: #9b8055;
  /* font-size: min(1.4rem, 7vw); */
  font-size: min(1rem, 7vw);
}
.product__price {
  text-align: center;
}
.featured-products .MRP {
  transition: all 0.75s ease-out;
  height: 100%;
  align-items: center;
}
.featured-products .bags {
  max-width: 20rem;
  display: flex;
  justify-content: center;
}
.featured-products .bags img {
  z-index: 2;
  transition: all 0.75s ease-out;
  /* filter: drop-shadow(30px 10px 4px #9b8055); */
  /* max-width: 70%; */
  /* filter: drop-shadow(0 -2mm 2mm rgb(114, 92, 51)); */
  max-width: 100%;
  filter: drop-shadow(0 -.5mm .5mm rgb(114, 92, 51));
}
.featured-products .icon {
  transition: all 0.75s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-products .icon img {
  /* width: 30px; */
}
.featured-products .icon img:hover{
  /* border: 1.5px solid #fff2;
  border-radius: 50%; */
}
@media (min-width: 300px){
  .featured-products .card {
    width: 8rem;
  }
}
@media (min-width: 400px){
  .featured-products .card {
    width: 10rem;
  }
}
@media (min-width: 500px){
  .featured-products .container{
    width: min(1200px, 90%);
  }
  .featured-products .card {
    width: 12rem;
  }
  .featured-products .info h3 {
    font-size: 1.4ch;
  }
  .featured-products .info p {
      font-size: min(1.4rem, 7vw);
  }
}
@media (min-width: 600px){
  .featured-products .card {
    width: 15rem;
    padding: 1rem;
  }
}
@media (min-width: 800px){
  .featured-products .flex {
    flex-wrap: nowrap;
  }
.featured-products .flex {
    display: flex;
    justify-content: unset;
    /* gap: 1em; */
    flex-wrap: wrap;
}
.featured-products .container {
    width: min(100em, 95%);
    margin: 0 auto;
}
.featured-products .bags img {
  max-width: 70%;
}
.featured-products .card:hover {
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%), 0px 0px 20px rgb(0 0 0 / 20%);
}
}

</style>