<!-- <div class="product">
  <div class="product__box card">
    <div class="bags"><img class="product__image" src="/uploads/be_happy_carry_bag.png" alt=""></div>
      <div class="info">
        <h1 class="product__name title">Jute Bag</h1>
        <h3 class="product__description">A portable jute carry bag for shopping</h3>
          <div class="product__price MRP">
            <h4>₹ 499/-</h4>
            
          </div>
          <div class="icon">
              <a href="#" 
              class="snipcart-add-item" 
              data-item-id="Be_Happy_carry_bag" 
              data-item-name="Jute Bag" 
              data-item-price="499" 
              data-item-url="" 
              data-item-description="A portable jute carry bag for shopping">
                <img src="images/manav/cart.png" alt="cart">
              </a>
              <button 
              class="snipcart-add-item 
              buy-button 
              snipcart-checkout" 
              data-item-id="Be_Happy_carry_bag" 
              data-item-name="Jute Bag" 
              data-item-price="499" 
              data-item-url="" 
              data-item-description="A portable jute carry bag for shopping">
            Buy now
          </button>
          </div>

          
      </div>
  </div>
</div> -->

<!-- <section class="featured-products"> -->
  <div class="product">
    <div class="product__box card">
      <div class="bags"><img class="product__image" src="{{ .image }}" alt=""></div>
        <div class="info">
          <p class="product__name title">{{ .name }}</p>
          <h3 class="product__description">{{ .description }}</h3>
            <div class="product__price MRP">
              <h4>₹ {{ .product_price }}/-</h4>
              <!-- <h3><del>₹ {{ .product_del_price }}/-</del></h3> -->
            </div>
            <div class="icon">
                <a href="#" class="snipcart-add-item"               
                  data-item-id="{{ .id }}"
                  data-item-name="{{ .name }}"
                  data-item-price="{{ .product_price }}"
                  data-item-url="{{ .product_url }}"
                  data-item-description="{{ .description }}">
                  <img src="images/manav/cart.png" alt="cart">
                </a>
            <!-- </div> -->
  
            <!-- <button
              class="snipcart-add-item buy-button snipcart-checkout"
              data-item-id="{{ .id }}"
              data-item-name="{{ .name }}"
              data-item-price="{{ .product_price }}"
              data-item-url="{{ .product_url }}"
              data-item-description="{{ .description }}">
              Buy now
            </button> -->
            </div>
        </div>
    </div>
  </div>
<!-- </section> -->